

{% block entete %}   {% endblock %}
{% block content %}



<style>

    body {
         font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f7f7f7;
        overflow:hidden;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        height: 650px;
        display: flex;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow:hidden;

        }

        .contact-section {
            flex: 1;
            padding: 30px;
            background-color: #fff;
        }

        .image-section {
            flex: 1;
            background-image: url("/media/images/demander-un-devis.jpg") ; /* Remplacez par l'URL de votre image */
            background-size: 400px 500px;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            background-color: white;
        }

        .logo {
            width: 100px;
            margin-bottom: 20px;
        }

        h2 {
            color: #333;
            margin-bottom: 5px;
        }

        p {
            color: #777;
            font-size: 15px;
            margin-bottom: 30px;
            font-weight: bold;
        }

        .form-group {
            margin: 15px;
        }
        .group{
            display:flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        .group  button a {
            color: #fff;
            text-decoration:none;
        }
        .select {
            width:100%;
            height:30px;
        }

        /*  entete   */

        .tete{
           display:flex;
           justify-content: space-between;
           align-items: center;
        }
        .btn{
            width:100px;
            height:20px;
            background-color: #58a1e4;;
            color: #fff;
            text-align: center;
            text-decoration: none;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: bold;
            color:#777;
        }

        input, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
            margin-top: 5px;
            font-size: 1em;
        }

        textarea {
            resize: vertical;
            height: 120px;
        }

        .error {
            color: red;
            font-size: 14px;
        }

        button {
            background-color: #58a1e4;
            color: white;
            padding: 10px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 50%;
            font-size: 1.1em;
            transition: background-color 0.3s ease;
            margin:10px;

        }

        button:hover {
            background-color: #0d6efd;
        }

  form button:hover {
    background-color: #0056b3;
  }
  /*  .btn {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-warning {
    background-color:#abc6ec;
}

.btn:hover {
    opacity: 0.8;
}*/

</style>

<div class="container">
    <div class="contact-section">
        <div class="tete">
        <a href="{% url 'home' %}"><img src="/media/images/logo jeoline.PNG" alt="Image description" class="logo"></a>
         <a href="{% url 'client_dashbord' %}" class="btn">Retour</a>
        </div>
        <h2>Modifier votre demande</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
        <label for="service">Service demandé :</label>
        <select name="service" id="service" required class="select">
            <option value=""> </option>
            {% for service in services %}
                <option value="{{ service.id }}" {% if service.id == demande.service.id %}selected{% endif %}>
                    {{ service.nom }}
                </option>
            {% endfor %}
        </select>
        </div>

        <div class="form-group">
        <label for="details">Informations pour la demande de devis :</label>
        <textarea name="details" id="details" cols="30" rows="5" required>{{ demande.description }}</textarea>
        </div>

        <div class="form-group">
        <label for="file">Associer un fichier :</label>
        <input type="file" name="fichier" id="file" onchange="previewFile()">
            <br> <br>

        {% if demande.fichier %}
            <p>Fichier actuel : <a href="{{ demande.fichier.url }}" target="_blank">{{ demande.fichier.name }}</a></p>
        {% endif %}
        <p id="preview-text" style="display: none;">Fichier sélectionné : <span id="preview-name"></span></p>
        </div>


         <div class="group">
        <button type="submit" style="background-color:#40cdec;">Enregistrer</button>
        <button><a href="{% url 'voir_demandes_par_statut' statut='EN_ATTENTE' %}" >Annuler</a></button>
         </div>

    </form>

    </div>
    <div class="image-section"></div>
</div>
{% block footer %}   {% endblock %}

<script>
function previewFile() {
    let fileInput = document.getElementById("file");
    let previewText = document.getElementById("preview-text");
    let previewName = document.getElementById("preview-name");

    if (fileInput.files.length > 0) {
        previewText.style.display = "block";
        previewName.textContent = fileInput.files[0].name;
    } else {
        previewText.style.display = "none";
    }
}
</script>
{% endblock %}
