 /* Styles de base */

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin: 5px;
        align-items: flex-start;
    }

    nav a {
        padding: 10px;
        width: 100%;
        text-align: left;
        background-color: #ffffff;
    }

    nav a:hover {
        background-color: #c0c1c2;
        color: #000;
    }
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    animation: fadeIn 2s ease-out;
}
#home h1{
   margin: auto;
    height: 400px;
   color: #000000;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 90%;
}
#home {
    animation:fadeIn 2s ease-in ;
}
.accueil{
    display: flex;
   justify-content: center;
   text-align: center;
}
.accueil img{
    margin: 20px;

}
p{
    margin-left: 10px;
    margin-top: 10px;
    color: #000
}
h1{
    margin-top: 30px;
}
h3{
    font-style: oblique;
    margin-top: 80px;
    color: #000000;
}

footer {
    background-color: #000;
    color: #007bff;
    text-align: center;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;

}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.image-box {
    text-align: center;
    width: 200px;
    background: none;  /* */
    border-radius: 10px;
    padding: 10px;
    margin-right: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
img ::first-letter{

    margin-right: 40px;
}

@media (max-width: 768px) {
    .image-box {
        width: 100%;
        max-width: 200px;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .buttons {
        margin-top: 8px;
        flex-direction: column;
    }
    button{
        margin-top: 5px;

    }
}
footer {
    background: #222;
    color: #fff;
    padding: 0px 0;  /* Réduit la hauteur du footer */
    text-align: center;
    position: relative;
    margin-top: 20px;
    font-size: 0.9em;  /* Taille de texte plus petite */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 5px;
    margin: 5px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.footer-section p, .footer-section a {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

#horaire-list {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    display: none; /* Caché au départ */
    position: absolute;
    top: 50px; /* Placer la liste juste sous le titre */
    left: 0;
    background-color: #333; /* Contexte sombre pour la liste */
    width: 100%; /* Prendre toute la largeur de la section */
    padding: 5px;
}

#horaire-list li {
    margin: 5px 0;
}

.ferme {
    color: #f44336;  /* Couleur pour "Fermé" */
}

.varier {
    font-style: italic;
    color: #ff9800;  /* Couleur pour les horaires variables */
}

.footer-bottom {
    margin-top: 5px;
    border-top: 1px solid #555;
    padding-top: 5px;
}

.footer-bottom p {
    font-size: 0.8em;
    color: #ccc;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/*style du formulaire demande de devis*/

.formulaire{
  display: flex;
  justify-content: center;

  margin: auto;
}

  form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;

    max-width: 400px;
  }

  form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  form input, form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;


  }
  form select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;

  }

  form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  form button:hover {
    background-color: #0056b3;
  }



